{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<br>
<h1>Товары:</h1>
{% for item in products%}
<div class="col-md6 border rounded">
    <img src="/static/img/{{item.photo}}" width=150 height=200 align="bottom" alt="Что-то пошло не так">
    <p>
    <h3>{{item.title}}</h3>
    <h4>Описание: {{item.content}}</h4>
    <h4>Цена: {{item.price}} руб.</h4>
    <h4>Автор: {{item.user.name}}</h4>
    </p>
    {% if current_user.is_authenticated %}
    <p><a href="/add_to_favourite/{{ item.id }}" class="btn btn-success">Добавить в корзину</a></p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}